.mainButton {
  background-color: rgb(234, 42, 8);
  width: fit-content;
  border-radius: 10px;
  cursor: pointer;
}
.mainButtonText {
  font-size: 2.6vw;
  padding: 5px;
}
@media screen and (max-width: 500px) {
  .mainButtonText {
    font-size: 4vw;
    padding: 5px;
  }
}
