.pageTitle {
  font-size: 2.3rem;
  font-family: "Oswald";
}

.mainCharityListFlex {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.cardList {
  width: 80%;
  /* border: solid red 2px; */
}
